  body
    h1 Qui prend quoi ?
    include ../partials/header.pug
h1 Qui prend quoi ?
h2 Créer un événement
form(method="post" action="/party")
  div
    label(for="url") Partagez l'événement
    input(id="url" value=`${url}`)
  button(type="submit") Créer
   Auteur (requis)
   Date (optionel)